html{
  height: 100%;

}
.card{
  height: 100%;
}
body {
  
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw;
  height: 100vh; */
  overflow-x: hidden;
  /* padding: 0; */
    height: 100%;
      margin: 0;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.d-flex.h-100 {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
#background{
  opacity: 1;
}
.cover-container {
  flex: 1;

}
.img{
  width: 20%;
  margin: 0;
  padding: 0;
}

.cover-container {
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url('../src/images/Jez.jpeg');
  transition: background-image 3s ease-in;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.089); */
  animation: identifier  15s ease-in;
 animation-delay: 15s;
 animation-iteration-count: infinite;
}
.logo{
  width: 35%;
  min-width: 120px;
  margin-left: -23px;
  
}
.p-15{
  padding: 3rem !important;
}
@keyframes identifier {
  
  0%{
    background-image: url('../src/images/Jez.jpeg');
  }
  25%{
    background-image: url('../src/images/Pic.jpeg');
    
  }
  50%{
    background-image: url('../src/images/solid.jpeg');
    
  }
  75%{
    background-image: url('../src/images/Org.jpeg');
    
  }
 
  100%{
    background-image: url('../src/images/anoda.jpeg');
  }
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bg-transparent {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}


.align{
  display: flex;
  justify-content: space-between;
}
.height{
   min-height: 50%;
}
@media (max-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
    .max {
      max-width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 90%;
  height: 350px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  float: left;
}
.card-content{
}
.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  width: 100%;
  height: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.card-content button {
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#glassy-form {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  width: 80%;
  /* updated width */
}

#glassy-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white !important;
}

#glassy-form label span {
  margin-bottom: 5px;
}

#glassy-form input[type='text'],
#glassy-form input[type='date'],
#glassy-form input[type='number'] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  font-size: 16px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff !important;
  width: 190px;
  box-sizing: border-box;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


#glassy-form input[type='text']:focus,
#glassy-form input[type='date']:focus,
#glassy-form input[type='number']:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

#glassy-form input[type='radio'] {
  margin-right: 10px;
  
  display: inline-flex;
  /* updated display */
  flex-direction: row;
  /* updated flex direction */
}
.flexdrive{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  color: white;
  flex-wrap: wrap;
}
#glassy-form button[type='submit'] {
background-color: #007bff;
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  color: white;
}

#glassy-form button[type='submit']:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  #glassy-form {
    width: 50%;
    flex-wrap: wrap;
  }
  
        .glassy-form label select {
          width: 100px;
        }
       
}

#glassy-form label select {
  display: block;
  width: 200px;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.05));
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: white !important;
}
#glassy-form label select option {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid black;
}
.header{
  float: left;
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 1rem;
}
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
    max-width: 100%;
    height: 100%;
    background-image: none !important;
      /* background-color: rgba(0, 0, 0, 0.089); */
      
}
/* .sleeve{
  width: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid blue;
} */
.body{
  height: 100vh;
  width: 100vw;
}
.login-header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.width{
  width: 100%;
  padding: 1rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
 width: 50%;
 padding: 1rem;
 height: 100%;
}
.float-left{
  float: left;
  width: 100%;
  padding: 1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
 
  width: 80%;
}
.form-input{
  max-width: 100%;
  background-color: white;
  
}
.remove{
  background-color: inherit;
  margin-bottom: 1rem;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.email-subscription-container {
  background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation-name: slideIn;
  border-radius: 20px;
}
.slope{
background: linear-gradient(240deg, rgba(238, 238, 238, 0.473) 50%, #007bffd8 50%);  
padding: 2rem;
backdrop-filter: blur(10px);
margin-bottom: 70px;
}
.email-subscription-container h2 {
  color: #333333;
}

.email-subscription-container input[type="email"],
.email-subscription-container button[type="submit"] {
  border-radius: 0;
  box-shadow: none;
}

.email-subscription-container button[type="submit"] {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10px;
}
.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 60px 0;
}

.footer h3 {
  color: #ffffff;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 15px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #ffffff;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  /* Add a transition effect */
}

.social-icons a:hover {
  transform: scale(1.2);
  /* Add a scaling effect on hover */
}

.divider {
  margin: 40px 0;
  border-top: 1px solid #ffffff;
}

.text-muted {
  opacity: 0.5;
}

.text-muted:hover {
  opacity: 1;
  /* Add an opacity effect on hover */
}


.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 250px;
  min-width: 250px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-250px);
}

.sidebar.open {
  transform: translateX(0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

li a {
  text-decoration: none;
  color: #333;
}

li a:hover {
  color: #000;
}

main {
  flex: 1;
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  margin-top: 0;
}



@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    min-width: 100%;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

#header {
  grid-area: header;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3.75rem;
  padding-top: 2rem;
  background-color: rgb(0, 0, 24);
}
.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 1.5px solid rgb(17, 147, 198);
  width: 350px;
  background-color: rgb(0, 0, 24);
}

@media screen and (max-width: 900px) {
  .flexdrive {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #glassy-form {

    width: 100%;
  }

  #glassy-form button[type='submit'],
  #glassy-form input[type='text'],
  #glassy-form input[type='date'],
  #glassy-form input[type='number'] {
    width: 260px;

  }

  #media {

    width: 85% !important;
    padding: 1rem;
  }

  .logo {
    width: 100px;

  }

  #glassy-form label select {
    width: 260px !important;
  }

  #login-form {
    padding: 5rem;
    width: 100%;
    background-color: none !important;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none !important;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  }

  .form-input {
    min-width: 200px;
  }

  .login-container {
    width: 100%;
  }

}
.illustration {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.adjust{
  height: auto;
}
.edit{
  height: 140vh;
}

.illustration-images {
  width: 80%;
}

.caption {
  color: #007bff;
  font-style: italic;
  padding-top: 2rem;
  text-align: center;
}

hr {
  border: 1px solid #007bff;
  color: black;
}

.illustration {
  position: relative;
}
@media screen and (max-width: 800px) {
  .illustration {
    display: none;
  }.login-form{
    width: 100%;
  }
  .login-container{
    width: 100%;
  }
}

.arc {
  position: absolute;
  background-color: lightgrey;
}

.top-left {
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 0 0 100% 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  border-radius: 100% 0 0 0;
}